body {
    margin: 0;
    padding: 0;
}

.main-content {
    margin: 0 auto;
    max-width: 50vw;
    text-align: center;
    padding: 3em 0 5em 0;
}

.card {
    padding: 2em;
    border: 5px solid purple;
    margin: 2em;
}

.brother-search {
    max-width: 50vw;
    display: flex;
}

.search {
    width: 100%;
}