body {
    margin: 0;
    padding: 0;
}

.main-content {
    margin: 0 auto;
    max-width: 50vw;
    text-align: center;
    padding: 3em 0 5em 0;
}

.card {
    padding: 2em;
    margin: 2em;
    background-color: whitesmoke;
}

.form-control {
    margin-right: 1em;
}

.brother-search {
    max-width: 50vw;
    display: flex;
    padding-bottom: 1em;
}

.search {
    width: 100%;
}

#email {
    font-size: 1em !important;
    text-decoration: none;
}

.email {
    font-size: 1em;
}

.card-custom {
    border-radius: 1%;
}

.title {
    padding-bottom: 1em;
}
