<link rel="stylesheet" type="text/css" href="/css/nav-styles.css">
<header>
	<div class="nav-bar">
		<a href="/">Home</a>
		<a href="/brothers">Brothers</a>
        <a href="/brothers/logout">Profile</a>
	</div>
</header>