<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

	<link rel="stylesheet" type="text/css" href="/css/dash-styles.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    {{>header}}
	<div class="main-content">
        <div class="executive">
            <h2 class="title">Current Executive Board</h2>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="panel">
                                <img class="logo" src="/assets/sigpi.png">
                                <h3 class="panel-heading">Luke Austin</h3>
                                <h5 class="card-subtitle text-muted">Herald</h5>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel">
                                <img class="logo" src="/assets/sigpi.png">
                                <h3 class="panel-heading">Jack MacFarlane</h3>
                                <h5 class="card-subtitle text-muted">Fourth Counselor</h5>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel">
                                <img class="logo" src="/assets/sigpi.png">
                                <h3 class="panel-heading">Brendan Downes</h3>
                                <h5 class="card-subtitle text-muted">Second Counselor</h5>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel">
                                <img class="logo" src="/assets/sigpi.png">
                                <h3 class="panel-heading">Jack Fitzgerald</h3>
                                <h5 class="card-subtitle text-muted">Sage</h5>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel">
                                <img class="logo" src="/assets/sigpi.png">
                                <h3 class="panel-heading">Michael Cannici</h3>
                                <h5 class="card-subtitle text-muted">First Counselor</h5>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel">
                                <img class="logo" src="/assets/sigpi.png">
                                <h3 class="panel-heading">Chris George</h3>
                                <h5 class="card-subtitle text-muted">Third Counselor</h5>
                            </div>
                        </div>
                    </div>
                    <div class="about">
                        <h2>Theta Delta</h2>
                        <p>This is where the a paragraph about the chapter will go. It should talk about when we chartered and the grand sage awards. </br>We won relay for life twice in 2 years and raised $10,000.</p>
                    </div>
        </div>
    </div>
		
<script type="text/javascript" src="/js/roster.js">
</script>
</body>
</html>