<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/css/login-styles.css">
</head>
<body>
	<div class="heading">
		<div>
			<h2>Theta Delta Alumni Network</h2>
		</div>
		<div>
			<img class="flag" src="/assets/sigpiflag.png">
		</div>
		<div class="loginbtn">
			<button class="button" id="button">Login</button>
		</div>
	</div>
	<!-- modal -->
	<div class="bg-modal">
		<div class="modal-content">
			<div class="close">
				+
			</div>
			<form action="/brothers/login" method="POST">
				<img class="logo" src="/assets/sigpi.png">
				{{#if messages.error}}
					<p>{{messages.error}}</p>
				{{/if}}
				<input type="text" id="email" name="email" placeholder="Email">
				<input type="password" id="password" name="password" placeholder="Password">
                <p>Don't have an account?<a class="redirect" href="/register"> Register</a></p>
				<div class="btndiv">
					<input type="submit" value="Login" class="button" name='login'>
				</div>
			</form>
		</div>
	</div>
</body>
<script src="/js/login.js"><script></script>
</html>