<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>

	<link rel="stylesheet" type="text/css" href="/css/register-styles.css">

</head>
<body>
	<div class="heading">
		<div>
			<h2>Theta Delta Alumni Network</h2>
		</div>
		<div>
			<img class="flag" src="/assets/sigpiflag.png">
		</div>
		<div class="loginbtn">
			<button class="button" id="button">Register</button>
		</div>
	</div>
	<!-- modal -->
	<div class="bg-modal">
		<div class="modal-content">
			<div class="close">
				+
			</div>
				
			<form action="/register" method="POST">
				<img class="logo" src="/assets/sigpi.png">
				{{#each userFacingErrors}}	
					<p class="error">{{error}}</p>
				{{/each}}
                <input type="text" name="email" placeholder="brother1897@gmail.com">
				<input type="text" name="firstName" placeholder="Tommy">
                <input type="text" name="lastName" placeholder="DAscoli">
                <input type="text" name="field" placeholder="Accounting">
                <input type="text" name="city" placeholder="New York City">
				<input type="password" name="password" placeholder="Password">
                <p>Already have an account?<a class="redirect" href="/login"> Sign In</a></p>
				<div class="btndiv">
					<input type="submit" class="button" value="Register">
				</div>
			</form>
		</div>
	</div>

    <script type="text/javascript">
        //opens and closes modal
        document.getElementById('button').addEventListener('click', function() {
            document.querySelector('.bg-modal').style.display = "flex";
        });

        document.querySelector('.close').addEventListener('click', function(){
            document.querySelector('.bg-modal').style.display = "none";
        });
    </script>
</body>
<script type="text/javascript" src="/js/login.js">
</html>