<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>

	<link rel="stylesheet" type="text/css" href="/css/register-styles.css">
	
</head>
<body>
	<div class="main-content">
		<div>
			<h2>Theta Delta Alumni Network</h2>
		</div>
		<div>
			<form class="form" action="/register" method="POST">
				{{#each userFacingErrors}}	
					<p class="error">{{error}}</p>
				{{/each}}
                <input type="text" name="email" placeholder="brother1897@gmail.com">
				<input type="text" name="firstName" placeholder="Tommy">
                <input type="text" name="lastName" placeholder="DAscoli">
                <input type="text" name="field" placeholder="Accounting">
                <input type="text" name="city" placeholder="New York City">
				<input type="password" name="password" placeholder="Password">
                <p>Already have an account?<a class="redirect" href="/login"> Sign In</a></p>
				<div class="btndiv">
					<input type="submit" class="button" value="Register">
				</div>
			</form>
		</div>
	</div>
</body>
</html>