<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

	<link rel="stylesheet" type="text/css" href="/css/roster-styles.css">
</head>
<body onload="test()">

	<div class="main-content">
		{{#each users}}
            <div>
                {{name}}
                {{email}}
            </div>
        {{/each}}
	</div>
		
<script type="text/javascript">
    window.onload()
</script>
</body>
</html>